
DEVICE={{ item.device }}
{# TYPE=Bridge is case-sensitive => uppercase 'B' and lower case 'ridge' #}
TYPE=Bridge
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}
{% if item.stp is defined %}
STP={{ item.stp }}
{% else %}
STP=off
{% endif %}

{% if item.ip6 is defined or item.ipv6 == 'yes' %}
IPV6INIT=yes
{# allow iface to work in single stack #}
IPV6_FAILURE_{{ loop.index0 }}FATAL=no
{% endif %}

{% if item.bootproto == 'static' or item.bootproto == 'none' %}
BOOTPROTO=none
{% endif %}

{# static ipv4 configuration #}
{% if item.ip is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.prefix is defined %}
PREFIX={{ item.prefix }}
{% endif %}
{% if item.gw is defined %}
GATEWAY={{ item.gw }}
{% endif %}

{# static ipv6 configuration #}
{% if item.ip6 is defined %}
IPV6INIT=yes
IPADDR={{ item.address }}
{% endif %}
{% if item.prefix is defined %}
PREFIX={{ item.prefix }}
{% endif %}
{% if item.gw is defined %}
GATEWAY={{ item.gw }}
{% endif %}

{% endif %}

{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}

IPV4_FAILURE_FATAL=no

{# ipv6 configuration #}
{% if item.ip6 is defined %}
{% endif %}
IPV6_AUTOCONF=no

# configuration options for multi-homed hosts
IPV6_PEERROUTES=yes
#IPV6_DEFROUTE=yes
#IPV6_PEERDNS=yes
