{% if item.onboot is undefined and item.type is undefined %}
{# this is a physical Ethernet device #}
auto {{ item.device }}
{# to avoid race conditions at boot in between ifupdown and openvswitch #}
{% elif item.type is defined and item.type|lower == 'ovsbridge' %}
allow-ovs {{ item.device }}
{# configure the built-in interfaces #}
allow-{{ item.device }} {{ item.device }}
{% endif %}

{% set inets = ['inet', 'inet6'] %}
{% for inet in inets %}
{# dhcp method by default #}
{% if (item.bootproto is undefined) or (item.bootproto == 'dhcp') %}
iface {{ item.device }} {{inet}} dhcp
{% elif (item.bootproto is defined) and (item.bootproto == 'static' or item.bootproto == 'none') %}
iface {{ item.device }} {{inet}} static
{% if inet == 'inet' %}
{# debian ipv4 family configuration #}
{% include 'inet.j2' %}
{% elif inet == 'inet6' %}
{% include 'inet6.j2' %}
{% endif %}
{# routes configuration #}
{% include 'routes.j2' %}
{% elif item.bootproto is defined and item.bootproto == 'bootp' %}
{# bootp options #}
iface {{ item.device }} {{ inet }} bootp
{% include 'bootp.j2' %}
{% elif item.bootproto is defined and item.bootproto == '6to4' %}
{# 6to4 tunnel options #}
iface {{ item.device }} inet 6to4
{% include '6to4.j2' %}
{% endif %}
{# configure device as a bridge #}
{# see man bridge-utils-interfaces(5) for bridge details #}
{% if item.type is defined and item.type|lower == "bridge" %}
{% include 'linux_bridge.j2' %}
{% elif item.type is defined and item.type|lower == 'ovsbridge' %}
{% include 'ovsbridge.j2' %}
{% endif %}

{% endfor %}
