{% if item.onboot is defined %}
auto {{ item.device }}
{% endif %}

{# inet #}
{% if (item.bootproto is undefined) or (item.bootproto == 'dhcp') %}
iface {{ item.device }} inet dhcp
{% elif (item.bootproto is defined) and (item.bootproto == 'static' or item.bootproto == 'none') %}
iface {{ item.device }} inet static
{% if item.ip is defined %}
    address     {{ item.ip | ipaddr('address') }}
    network     {{ item.ip | ipaddr('network') }}
    netmask     {{ item.ip | ipaddr('address/prefix') }}
    broadcast   {{ item.ip | ipaddr('broadcast') }}
    gateway     {{ item.gw }}
{% endif %}
{% elif item.bootproto is defined and item.bootproto == 'bootp' %}
iface {{ item.device }} inet bootp
{% if item.bootfile is defined %}
    bootfile {{ item.bootfile }}
{% endif %}
{% if item.server is defined %}
    server {{ item.server }}
{% endif %}
{% elif item.bootproto is defined and item.bootproto == '6to4' %}
iface {{ item.device }} inet 6to4
{% if item.ip is defined %}
   local {{ item.ip }}
{% endif %}
{% if item.ttl is defined %}
   ttl {{ item.ttl }}
{% endif %}
{% endif %} {# end of method logic #}
{% if item.scope is defined %}
    scope {{ item.scope }}
{% endif %}
{% if item.metric is defined %}
    scope {{ item.metric }}
{% endif %}
{% if item.hwaddress is defined %}
    hwaddress {{ item.hwaddress }}
{% endif %}
{% if item.mtu is defined %}
    hwaddress {{ item.mtu }}
{% endif %}
{# see man bridge-utils-interfaces(5) for bridge details #}
{# {% if item.type is defined and item.type|lower == 'bridge' %} #}
{% if item.bridge_ports is defined %}
    bridge_ports  {{ item.bridge_ports|join(' ') }}
{% elif item.type is defined and item.type|lower == 'bridge' %}
    bridge_ports  none
{% endif %}
{% if item.bridge_opts is defined %}
{% for key,value in bridge_opts.iter() %}
    {{ key }}   {{ value }}
{% endfor %}
{% endif %}

{# inet6 #}
