# interfaces(5) file used by ifup(8) and ifdown(8)

# dual stack loopback
auto lo
iface lo inet loopback
iface lo inet6 loopback

# All devices can be found in {{ network_conf_path }}/interfaces.d/
source {{ network_conf_path }}/interfaces.d/*
