# interfaces(5) file used by ifup(8) and ifdown(8)

# dual stack loopback
auto lo
iface lo inet loopback
iface lo inet6 loopback

# All configured devices can be found in {{ network_conf_path }}/
{# using a loop while ifupdown2 is not available yet #}
{% for i in network %}
source {{ network_conf_path }}/{{i.device}}
{% endfor %}

{# fixe: put this instead w/ ifupdown2 #}
{# source {{ network_conf_path }}/* #}
