{% if item.routes is defined and (item.routes|length == 1) and (item.routes[0].to == 'default') %}
default via dev {{ item.device }}
{% elif (item.routes is defined) and (item.routes[0].to != 'default') %}
{% for route in item.routes %}
{{ route.to }} via {{ route.gw|default(item.gw) }}
{% endfor %}
{% elif (item.routes is undefined) and (item.ips is defined) %}
{#
  static ips for device, useful for local nating brigdes
  creating the file avoids duplicated default gateway issues
  when restarting the network service
#}
{% for ip in item.ips %}
{{ ip | ipsubnet(ip | ipaddr('prefix'),0) }} via {{ item.gw }}
{% endfor %}
{% endif %}
